/*BODY*/
body {
  margin: 2% 10%;
  padding: 0;
  color: #999;
}

/*HEADER*/
header {
  position: relative;
  font-family: Pacifico;
  font-size: 35px;
  text-align: center;
  background-image: url("imgs/seattle.png");
}

section {
  margin: 2% 0;
}


#events {
  height: auto;
}

.the-team {
  display: inline-block;
  text-align: center;
  padding-top: 0.5em;
  width: 19%;
}

.team-pics {
  border-radius: 100%;
  width: 70%;
  font-size: 10px;
  justify-content: center;

}

/*SECTION*/

/*FOOTER*/
