/*BODY*/
body {
  margin: 2% 10%;
  padding: 0;
}

/*HEADER*/
header {
  position: relative;
}

/*NAV*/
nav {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 40%;
  text-align: center;
}

section {
  margin: 2% 0;
}

#events {
  height: auto;
}
