/*BODY*/
body {
  margin: 2% 10%;
  padding: 0;
  color: #999;
}

/*HEADER*/
header {
  position: relative;
}

section {
  margin: 2% 0;
}

#page-name {
	text-align: center;
  padding-top: 0.7em;
}

#events {
  height: auto;
}

/*SECTION*/

/*FOOTER*/
