/*HEADER*/

/*FILTERS*/

.filter-container {
	height: 7vw;
}

ul {
	width: 67%;
	height: 7vw;
	display: block;
	padding: 0;
	margin: auto;
}

li {
  border-right: 1px solid #eeee;
  display: inline-block;
  margin-left: 1.3vw;
	text-align: center;
}

li:last-child {
  border-right:none;
}

li a {
  display: inline-block;
  width: 80%;
  background: #ddd;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
}

li p {
  display: inline-block;
  padding-bottom: 0.2em;
}

#venue-filter-cont{
	width: 45%;
	float: left;
	margin: 0;
	height: 100%;
}

#venue-filter-cont select{
	width: 100%;
	height: 40%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #D4D2D2;
}

#genre-filter-cont{
	width: 45%;
	float: right;
	margin: 0;
	height: 100%;
}

#genre-filter-cont select{
	width: 100%;
	height: 40%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #D4D2D2;
}

.about-site {
  text-align: center;
}


/*EVENTS*/
.event-articles{
  position: relative;
  width: 100%;
	height: 13vw;
	border: 1px solid white;
	border-radius: 10px;
	margin: 0.5% 0;
	overflow: hidden;
}

.event-image {
  position: absolute;
  transform: translateY(-50%);
  top: 2.8em;
  width: 20%;
	left: 1%;
}

.event-artist {
	top: 5%;
	text-decoration: underline;
	width: auto;
	font-size: 148%;
	margin-bottom: 0.4em;
}

.event-venue {
	position: absolute;
	top: 5%;
	right: 3%;
	font-size: 75%;
  text-align: right;
	padding-top: 0.3em;
}

.event-date{
	top: 30%;
	font-size: 90%;
	margin-bottom: 0.4em;
}

.event-link a {
	bottom: 10%;
	color: inherit;
	margin-bottom: 0.2em;
}

#event-info {
	position: absolute;
	display: block;
	left: 23%;
	float: left;
	max-width: 55%;
	padding-top: 0.3em;
}
/*FOOTER*/
